#dropdown {
    font-size: 1.4rem;
    padding: 0 0 10px 0;
}

#dropdown::after {
    content: none;
}

.status {
    font-size: 1rem;
    margin-right: 10px;
}

.online {
    color: rgb(66, 177, 66);
}

.idle {
    color: rgb(226, 150, 36);
}

.busy {
    color: rgb(245, 79, 13);
}
