.unread-badge {
    margin-left: 5px;
    background-color: red;
    width: 0.3rem;
    padding: 0.2rem 0.4rem;
    border-radius: 5px ;
}

.badge-content {
    text-align: middle;
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: black !important; 
}

.close-button {
    font-weight: 600;
    font-size: 14px;
    opacity: 0.4;
    margin-left: 7px;
    transition: opacity 0.5s;
}

.close-button:hover {
    opacity: 0.9;
}