.login {
    width: 20%;
    margin: 50px auto;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dialog-box {
    text-align: center;
}

.dialog-box h2 {
    margin-bottom: 1.2rem;
}